name: daily TH_Lage-Flyer update

on:
  push:
    branches:
      - master
  schedule:
    - cron: "45 15 * * *"

jobs:
  update_page:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
      - name: download TH_Lage-Flyer data
        run: cd .github/workflows/ && env python3 ./download_TH_Lage-Flyer.py && cd ../../
      - name: Commit files
        run: |
          git config --local user.name  ${{ github.actor }}
          git add ./data_TH_Lage-Flyer/*.pdf ./data_TH_Lage-Flyer/*.txt
          git commit -m "daily TH_Lage-Flyer update"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true 
